<!-- <p>Contacte moi par</p> -->
@if (contact) {
  <div class="d-flex justify-content-end me-2">
    @if (contact.whatsapp) {
      <button
        type="button"
        class="btn btn-success me-1"
        [class.rounded-circle]="isMobileMode"
        (click)="whatsappMe(contact)"
      >
        <i class="bi bi-whatsapp"></i>@if (!isMobileMode) {<span class="ms-1">WhatsApp</span>}
      </button>
    }
    @if (contact.email) {
      <button type="button" class="btn btn-info me-1" [class.rounded-circle]="isMobileMode" (click)="mailToMe(contact)">
        <i class="bi bi-at"></i>@if (!isMobileMode) {<span class="ms-1">Email</span>}
      </button>
    }
    @if (contact.phone) {
      <button
        type="button"
        class="btn btn-primary me-1"
        [class.rounded-circle]="isMobileMode"
        (click)="phoneToMe(contact)"
      >
        <i class="bi bi-telephone"></i>@if (!isMobileMode) {<span class="ms-1">Phone</span>}
      </button>
    }
  </div>
}
