@if (!isMobileMode) {
  <nav class="header navbar navbar-expand-lg navbar-light bg-light position-fixed">
    <div class="bd-highlight">
      <button (click)="openDrawer()" type="button" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <a class="navbar-brand me-0" href="#">
      <img width="90px" src="../../../../assets/images/logo.png" alt="Logo de BellA" />
    </a>

    <div class="ms-2 collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" [routerLink]="['/annonces']" routerLinkActive="active">Accueil</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" [routerLink]="['/bookmarks']" routerLinkActive="active">Mes favoris</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" [routerLink]="['/post-an-ad']" routerLinkActive="active">Publier une annonce</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" [routerLink]="['/account']" routerLinkActive="active">Mon compte</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" [routerLink]="['/settings']" routerLinkActive="active">Mes paramètres</a>
        </li>
      </ul>

      <bella-search-filter-button></bella-search-filter-button>

      @if (isAuthenticationLoading$) {
        @if (isAuthenticated$ | async) {
          <bella-logout-btn></bella-logout-btn>
        } @else {
          <bella-auth-login-signup></bella-auth-login-signup>
        }
      }
    </div>
  </nav>
} @else {
  <div class="d-flex header position-fixed align-items-center justify-content-between px-3">
    @if (isMobileMode) {
      <bella-search-filter-button></bella-search-filter-button>
    }

    <a class="navbar-brand me-0" href="#">
      <img width="90px" src="../../../../assets/images/logo.png" alt="Logo de BellA" />
    </a>
  </div>
}
