/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@ng-select/ng-select/themes/default.theme.css';
@import 'swiper/swiper-bundle.css';
@import 'scss/variables';

.no-scroll {
  overflow: hidden;
}

.text-small {
  font-size: small;
}

.header-desktop-top-padding {
  padding-top: 80px;
}

.main-layout {
  padding-top: $header-height;
  padding-bottom: $footer-bar-height;
}


.profile-picture {
  height: 80px;
  width: 80px;
  background-color: rgba(162, 162, 162, 0.933);
}

/** Bootstrap fixes / customs **/
.btn {
  &.active {
    border: 0px !important;
  }
}
