<div class="footer fixed-bottom">
  <div class="d-flex justify-content-between px-3">
    <bella-footer-toolbar-action icon="bi bi-house" label="Annonces" [action]="['/annonces']">
    </bella-footer-toolbar-action>
    <bella-footer-toolbar-action icon="bi bi-bookmarks" label="Favoris" [action]="['/bookmarks']">
    </bella-footer-toolbar-action>
    <bella-footer-toolbar-action icon="bi bi-megaphone" label="Publier" [action]="['/post-an-ad']">
    </bella-footer-toolbar-action>
    <bella-footer-toolbar-action icon="bi bi-person" label="Compte" [action]="['/account']"></bella-footer-toolbar-action>
    <bella-footer-toolbar-action icon="bi bi-gear" label="Paramètres" [action]="['/settings']">
    </bella-footer-toolbar-action>
  </div>
</div>
