<div [formGroup]="formGroup" class="form-group mb-3">
  <label class="form-label">{{ field?.props?.label }}<span *ngIf="field?.props?.required" class="ms-1">*</span></label>
  <ng-select
    formControlName="{{ field.key }}"
    [items]="options$ | async"
    [bindLabel]="field?.props['labelProp']"
    [bindValue]="field?.props['valueProp']"
    [compareWith]="field?.props['compareWith'] ?? undefined"
    [virtualScroll]="true"
    [clearable]="field?.props['clearable'] ?? true"
    appendTo="body"
  ></ng-select>
</div>
