<div class="container-fluid">
  <div class="sidebar-header"></div>
  <div class="sidebar-menu">
    <ul class="navbar-nav me-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" [routerLink]="['/']">Accueil<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" [routerLink]="['/bookmarks']">Mes favoris</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" [routerLink]="['/post-an-ad']">Publier une annonce</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" [routerLink]="['/account']">Mon compte</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" [routerLink]="['/settings']">Mes paramètres</a>
      </li>
    </ul>
  </div>
  <hr />
  <div class="text-center">
    @if (isAuthenticationLoading$) {
      @if (isAuthenticated$ | async) {
        <bella-logout-btn></bella-logout-btn>
      } @else {
        <bella-auth-login-signup></bella-auth-login-signup>
      }
    }
  </div>
</div>
