:host {
  .category-title {
    text-decoration: none;
    color: black;
  }

  .prev-scroll-indicator {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 30px;
    z-index: 50;
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
  }
  .next-scroll-indicator {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 30px;
    z-index: 50;
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
  }
}
