<bella-header></bella-header>

<main class="main-layout">
  @if (ad$ | async; as ad) {
    <div
      class="ad-detail-content"
      [class.container]="!isMobileMode"
      [class.header-desktop-top-padding]="!isMobileMode"
    >
      @if (isMobileMode) {
        <div class="ad-detail-actions-top ms-3 mt-3">
          <button (click)="back()" class="btn back-btn rounded-circle">
            <i class="bi bi bi-chevron-left"></i>
          </button>
        </div>
      }

      <!-- <div *ngIf="!isMobileMode">#breadcumb (todo)</div> -->

      <div class="ad-detail-image-container rounded">
        <bella-carousel [images]="ad.images || []"></bella-carousel>
      </div>

      <div class="ad-detail-container px-3">
        <div class="ad-detail-header mb-3>">
          <span class="price d-block mt-2">{{
            ad.price | currency: ad.currency ?? 'XOF'
          }}</span>

          <div class="d-flex justify-content-center">
            <h3 class="title me-1 mb-1">
              {{ ad.title }} / <span class="category">{{ ad.category }}</span>
            </h3>
          </div>
          @if (ad.updatedAt) {
            <ng-container
              [ngTemplateOutlet]="dateAndCityTemplate"
              [ngTemplateOutletContext]="{
                $implicit: ad.updatedAt,
                city: ad.city
              }"
            ></ng-container>
          } @else {
            <ng-container
              [ngTemplateOutlet]="dateAndCityTemplate"
              [ngTemplateOutletContext]="{
                $implicit: ad.createdAt,
                city: ad.city
              }"
            ></ng-container>
          }
        </div>

        <div class="ad-detail-body">
          @if (ad.quality) {
            <div>
              <span class="sub-section-title mb-2">Détail</span>
              <p>{{ 'ads.detail.' + ad.quality | translate }}</p>
            </div>
          }

          <div>
            <span class="sub-section-title mb-2">Description</span>
            <p class="description">{{ ad.description }}</p>
          </div>
        </div>

        <hr />

        <bella-ad-publisher-card [user]="ad.owner"></bella-ad-publisher-card>
      </div>

      <div
        class="position-sticky ad-detail-actions-bottom mt-3"
        [ngClass]="{ mobile: isMobileMode }"
      >
        @if (contact$ | async; as contact) {
          <bella-ad-contacts
            [contact]="contact"
            [subject]="ad.title"
            [text]="ad.description"
            [link]="currentPageLink"
          ></bella-ad-contacts>
        }
      </div>
    </div>
  }
</main>

<ng-template #dateAndCityTemplate let-date let-city="city">
  <span class="date-and-city"
    >{{ date | date: 'dd MMM Y à HH:mm' }} - {{ city }}</span
  >
</ng-template>
