<bella-titled-page [title]="'Mon compte'">
  @if (isAuthenticated$ | async) {
    @if (user$ | async; as user) {
      <div class="text-center mb-2">
        <img [src]="user.picture" class="rounded-circle img-fluid profile-picture" alt="image de profile" />
      </div>
    }
    @if (currentUser$ | async; as user) {
      <a [routerLink]="['/my-publications']" type="button" class="btn btn-sm btn-outline-primary me-1">
        <i class="bi bi-list me-1"></i>Mes annonces
      </a>
      <bella-profile-form [user]="user" [readonlyMode]="true" (userChange)="updateProfile($event)"></bella-profile-form>
      <hr />
      <div class="text-center mt-3">
        <bella-logout-btn></bella-logout-btn>
        <button type="button" class="btn btn-danger ms-2" (click)="deleteProfile()">
          <i class="bi bi-trash me-1"></i>Supprimer
        </button>
      </div>
    }
  } @else {
    <bella-auth-login-signup></bella-auth-login-signup>
  }
</bella-titled-page>
