<div class="container">
  <mat-tab-group>
    <mat-tab label="Annonces en attentes">
      @if (unpublished$ | async; as unpublished) {
        <bella-publications-list
          mode="pending"
          [publications]="unpublished.items"
          [total]="unpublished.total"
          [pageSize]="unpublished.pageSize"
          [pageIndex]="unpublished.page - 1"
          (approbationDecision)="onApprobationDecisionMaked($event)"
          (pageChange)="onUnpublishedPageChange($event)"
        ></bella-publications-list>
      }
    </mat-tab>
    <mat-tab label="Annonces publiées">
      @if (published$ | async; as published) {
        <bella-publications-list
          mode="published"
          [publications]="published.items"
          [total]="published.total"
          [pageSize]="published.pageSize"
          [pageIndex]="published.page - 1"
          (approbationDecision)="onApprobationDecisionMaked($event)"
          (pageChange)="onPublishedPageChange($event)"
        ></bella-publications-list>
      }
    </mat-tab>
    <mat-tab label="Annonces archivées">
      @if (archived$ | async; as archived) {
        <bella-publications-list
          mode="archived"
          [publications]="archived.items"
          [total]="archived.total"
          [pageSize]="archived.pageSize"
          [pageIndex]="archived.page - 1"
          (approbationDecision)="onApprobationDecisionMaked($event)"
          (pageChange)="onArchivedPageChange($event)"
        ></bella-publications-list>
      }
    </mat-tab>
  </mat-tab-group>
</div>
