DATABASE_URL=mongodb://localhost:27017/tangazo

CORS_ALLOW_LIST = http://localhost:4200,https://gracious-clarke-5a0f41.netlify.app

AUTH_ISSUER_URL=https://dev-bata.eu.auth0.com/
AUTH_AUDIENCE=https://base-api/